@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-grayBg: #fbfbfb;
  --color-forest-l: #667872;
  --color-forest-m: #4d5b56;
  --color-forest-d: #36413d;
  --color-gray-m: #777777;
  --color-gray-d: #4f4f4f;
  --color-gray-l: #9b9b9b;
  --color-tPri: rgba(0, 0, 0, 0.87);
  --color-tSec: rgba(0, 0, 0, 0.6);
  --breakpoint-xs: 25rem;
 /* new style */ 
  --color-blackBg: oklch(21% 0.006 56.043);
  --color-blackContainer: oklch(14% 0.004 49.25);
  --color-whitePri: #f5f5f4;
  --color-grayPri: oklch(26% 0.007 34.298);
  --color-hlPri: oklch(58% 0.158 241.966);
  --color-hlPriSec: oklch(74% 0.16 232.661);
  --color-hlSec: oklch(70% 0.213 47.604);
  --color-hlSecSec: oklch(83% 0.128 66.29);
  --color-headerBg: oklch(37% 0.034 259.733);
  --color-node: #53a144;
  --color-possu: #31648c;
  --color-ts: #3178c6;
  --color-nv: #0f191f;
  --color-ex: #f0f1f3;
  --color-mongo: #00684a;
  --color-docker: #1d63ed;
  --color-rs: #f05023;
  --color-react: #58c4dc;
  --color-java: #ef9026;
  --color-git: #eb4d28;
  --color-spring: #6aad3d;
  --color-linux: #010103;
  --color-vsc: #0078b9;
  --color-dc: #5865f2;
  --color-bs: #1185fe;
  --color-ln: #0077b5;
  --color-sla: #481a54;
  --color-gh: #000000;
  --color-gm: #cd3b2f;
}

#root {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: oklch(21% 0.006 56.043);
}

body {
  font-family: 'Funnel Sans', sans-serif;
}


.be-stylish {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.13);
  }
}

.squircle {
    background: #fa7970;
    clip-path: path(
        "M 50 0 C 85 0 100 15 100 50 C 100 85 85 100 50 100 C 15 100 0 85 0 50 C 0 15 15 0 50 0 Z"
    );
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

